<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head/head.html" . -}}
    <body style="min-height: 100vh; display: flex; flex-direction: column;">
        {{- partial "header.html" . -}}
        <main style="flex: 1;">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        <!-- Theme Scripts -->
        <script src="{{ "js/toggleColors.js" | absURL }}"></script>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html> 