<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head/head.html" . }}

<body class="line-numbers">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}
        
        {{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $script := resources.Get "js/initColors.js" | minify }}
    <script src="{{ $script.RelPermalink }}"></script>

    {{ $script := resources.Get "js/prism.js" | minify }}
    <script src="{{ $script.RelPermalink }}"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

</body>

</html>