{{ $hero := .Page.Params.hero }}
<Section class="section">
  <div class="heading-container">
    <h1 class="hero-heading">{{ $hero.heading }}</h1>
  </div>
  <div style="max-width: {{ $hero.maxWidth }}px;">
    {{ .Content }}
  </div>
</Section>

<style>
.section {
  padding: 4rem 0;
  background: var(--background);
}

.heading-container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 4rem;
}

.hero-heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.1;
  color: var(--primary);
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .heading-container {
    padding: 0 2rem;
  }
  
  .hero-heading {
    font-size: 2.5rem;
  }
}
</style>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
