{{ if .IsHome }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
<footer style="padding: 15px 0; text-align: center;">
  <div class="footer-gradient"></div>
  <div class="footer-container" style="display: flex; justify-content: space-between; align-items: center; max-width: 1220px; margin: 0 auto; padding: 0 20px;">
    <div class="footer-text" style="color: var(--grey);">
      © {{ now.Format "2006"}} Wrong
    </div>
    <div class="social-links">
      {{ with .Site.Social.twitter }}
      <a href="{{ . }}" target="_blank" rel="noopener" style="color: var(--grey);">
        {{ partial "icons/social/twitter.html" . }}
      </a>
      {{ end }}
    </div>
  </div>
</footer> 