{{ define "main" }}
<div class="container home-page">
  <div class="hero">
    <h1>{{ .Site.Params.hero.heading }}</h1>
  </div>
  
  <div class="articles">
    {{ $pages := where .Site.RegularPages "Type" "post" }}
    {{ range first 6 $pages }}
    <article class="post-item">
      <a href="{{ .Permalink }}">
        <h2>{{ .Title }}</h2>
      </a>
      <div class="excerpt">
        {{ .Summary }}
      </div>
      <div class="meta">
        {{ .Date.Format "January 2, 2006" }}
      </div>
    </article>
    {{ end }}
  </div>
  
  {{ if gt (len $pages) 6 }}
  <div class="more-posts">
    <a href="/post">View All Posts</a>
  </div>
  {{ end }}
</div>
{{ end }} 