<article class="article-list-item" id="article-{{.File.UniqueID}}">
    {{ if .Params.hero }}
    <a href="{{ .RelPermalink }}" class="article-list-item-image">
        <div class="article-list-item-image-container">
            <img src="{{ .Params.hero }}" />
        </div>
    </a>
    {{ end }}
    <div class="article-list-item-content">
        <a href="{{ .RelPermalink }}" class="article-list-item-title">{{ .Title }}</a>
        <div class="article-list-item-description">
            {{ .Summary }}
        </div>
        <div class="article-list-item-metadata">
            {{ .Date.Format "January 2, 2006" }}
            {{ with .Params.authors }}
                · {{ delimit . ", " }}
            {{ end }}
        </div>
    </div>
</article> 