{{ $hero := .Params.hero }}
<article class="article-list {{ if not $hero }}no-image{{ end }}" {{ if $hero }}style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ $hero }})"{{ end }}>
    <a href="{{ .RelPermalink }}" class="article-link">
        <div class="article-data-outer">
            <div class="article-data-inner">
                <h2 class="article-title">
                    {{ .Title }}
                </h2>
                <p class="article-excerpt">{{ .Summary }}</p>
                <div class="article-metadata">
                    {{ .Date.Format "January 2, 2006" }}
                    {{ with .Params.authors }}
                    <span class="article-authors-list">
                        · {{ delimit . ", " }}
                    </span>
                    {{ end }}
                </div>
            </div>
        </div>
    </a>
</article> 