{{ with .Params.hero }}
<div class="article-hero">
    <header class="article-header">
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ . }}" />
        </div>
    </header>
</div>
{{ end }}

<header class="article-header">
    <h1 class="article-hero-heading">{{ .Title }}</h1>
    <div class="article-hero-subtitle">
        <div class="article-meta">
            {{ .Date.Format "January 2, 2006" }}
            {{ with .Params.authors }}
                · {{ delimit . ", " }}
            {{ end }}
        </div>
    </div>
</header> 